/* Container for the tournament page */
.tournaments-page {
  padding: 20px;
  background-color: #141414;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* Heading section for tournaments */
.tournaments-page h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #00BFFF;
}


/* Tournament cards container */
.tournament-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

/* Each tournament card */
.tournament-card {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #00BFFF;
  transition: background-color 0.3s;
  cursor: pointer;
}

.tournament-card:hover {
  background-color: #2e2e2e;
}

.tournament-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #00BFFF;
}

.tournament-card p {
  margin: 0;
  font-size: 16px;
  color: #aaaaaa;
}

/* .tournament-page {
    padding: 20px;
    background-color: #141414;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }
   */
  /* Heading section for tournaments */
  /* .tournament-page h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #00BFFF;
  }
   */
  /* Filter section */
  /* .filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .filter-section select {
    padding: 10px;
    background-color: #2e2e2e;
    color: #ffffff;
    border: 1px solid #00BFFF;
    border-radius: 4px;
  } */
  
  /* Tournament cards container */
  /* .tournament-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
  } */
  
  /* Each tournament card */
  /* .tournament-card {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #00BFFF;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .tournament-card:hover {
    background-color: #2e2e2e;
  }
  
  .tournament-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .tournament-card p {
    margin: 0;
    font-size: 16px;
  } */
  