
 
  
  h2 {
    margin-bottom: 20px;
  }
  
  .players-list ul {
    list-style: none;
    padding-left: 0;
  }
  
  .players-list ul li {
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  