.button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* .tournament-card button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 12px;
} */

.button:hover {
  background-color: #0056b3;
}
.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.popup-content button {
  padding: 8px 20px;
  background-color: #00bfff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.popup-content button:hover {
  background-color: #0096d6;
  transform: scale(1.05);
}

.event-item .edit-button,
.event-item .delete-button {
  padding: 8px 12px;
  margin-top: 10px;
  margin-right: 5px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

  .edit-button,
  .add-button {
    background-color: #007bff;
    color: white;
    margin-right: 10px;
    justify-content: flex-end;
    border-radius: 4px;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  .add-button:disabled {
  background-color: #444; /* Dark gray for disabled */
  cursor: not-allowed;
  }

  .add-button:hover:enabled {
  background-color: #0056b3; /* Darker blue on hover */
  }

  .delete-button,
  .cancel-button {
    background-color: #dc3545;
    color: white;
    margin-right: 10px;
    justify-content: flex-end;
    margin-left: auto;
  }
  
  .delete-button,
  .cancel-button:hover {
    background-color: #b02a37;
  }

  .withdraw-button {
    background-color: #FF4500;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .withdraw-button:hover {
    background-color: #ff6347;
  }
  
  .withdraw-button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
  }
  



/* .cancel-button,
.add-button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
} */


